<html>
    <head>
        <title>YOUR TITLE HERE</title>
    </head>
    <body>
        {% if subdomain %}
            Sorry, no redirect for {{ subdomain }}.
        {% else %}
            YOUR DEFAULT WEBSITE HERE
        {% endif %}
    </body>
</html>